<h4>STORM MESSAGE FROM MAYOR JOHNSON</h4>

<blockquote>
  <p>First, I would like to thank the residents of Asbury Park for their extraordinary efforts and cooperation in preparing for and during Hurricane Sandy. Asbury Park, as well as the neighboring communities of the Jersey Shore, has experienced a weather event of unprecedented proportions. As a result, we have sustained severe damage, flooding and power outages across the city.</p>

<p>While the storm moves out of our area, our concern for public safety continues. Our immediate priority is to aid those in need of emergency assistance and to restore safe conditions where urgently needed. Please be aware that while the major portion of the storm may have departed our area, there is still concern regarding downed power lines, fallen or weakened trees and limbs and compromised structural conditions that may exist. All residents are urged to proceed cautiously and to report any unsafe conditions immediately.</p>

<p>The Boardwalk area is closed. Please stay away and out of the way of emergency personnel. A curfew is in effect beginning at 7:00pm each evening until further notice. At that time, all businesses should close and no one is allowed out in any public areas, anywhere in Asbury Park.</p>

<p>The restoration of power to all residents and businesses and returning people to their homes is one of our primary concerns as we emerge from the impact of Hurricane Sandy. Please know that the Municipal Government of Asbury Park is fully functioning and working with our local utilities, the county and the state of New Jersey to address post storm concerns and conditions. I ask for your patience! I also ask all residents of Asbury Park to work with us by remaining calm, following the directions of the office of emergency management officials as they are issued and remaining in a safe location as storm recovery efforts get underway.</p>

<p>Thank You!</p>
</blockquote>

<hr>

<h4>Notices</h4>

<p>The boardwalk area is closed until further notice. </p>

<p>Hot soup &amp; coffee will be served at Springwood Center, 1201 Springwood Ave from 11 am to 2 pm Wednesday, Thursday &amp; Friday.</p>

<p>Recreation program for children will take place at the Boys &amp; Girls Club Wednesday, Thursday &amp; Friday from 12 to 4 pm. </p>

<p>The Rescue Mission on Memorial Drive will be serving lunch at 1pm and dinner at 5 pm on Wednesday, Thursday and Friday.</p>

<p>Do NOT use your oven for heat</p>

<p>AP Schools will be closed today Wednesday, Nov. 7th</p>

<p>Garbage pick up as usual.  Recycling Center is open today at DPW till 2 pm Regular recycling pick up will resume next week.</p>

<p><code>Updated Tuesday, Nov. 6th, 5 pm</code></p>

<!--
ref:
http://www.cityofasburypark.com/
-->
