<h4>Comcast opens Xfinity WiFi hotspots</h4>

<p>To help residents and emergency personnel cope with the aftermath of the storm, Comcast is opening up its Xfinity WiFi hotspots to anyone who needs them - including non-Comcast users. Non-Xfinity Internet users should search for the "xfinitywifi" network name and click on the "Not a Comcast subscriber?" link at the bottom of the Sign-In page. Then, select the "Complimentary Trial Session" option from the drop down list. Users will be able to renew their complimentary sessions every two hours through Wednesday, November 7. For a map of XFINITY WiFi hotspots, which are located both indoors and outdoors in malls, shopping districts, parks, train platforms and other areas, visit www.xfinity.com/wifi.
The Comcast Government Affairs Team</p>

<h4>ELECTION INFORMATION</h4>

<p>The polling location for ALL VOTING Districts 1, 2, 3 &amp; 4 will be located at the Emergency Services Building. Voters are able to cast ballots at the Monmouth County Board of Elections [300 Halls Mills Road, Freehold] prior to Tuesday, if they so desire. They will be open Friday - 6pm; Sat &amp; Sun from 8:30 - 5:00pm and Monday from 8:30 - 4:30pm.</p>

<h4>TRASH and BULK Pick-ups</h4>

<p>Household trash will be picked up as scheduled. Bulk Pick-up will occur in Zone 1 on Saturday November 3rd and in Zone 2 on Saturday November 10th. PLEASE be patient as the staff works diligently to pick up the mounds of debris and brush. NOTE** If your household trash could not be collected because your street was inaccessible, you may bring HOUSEHOLD trash ONLY down to the Borough yard.</p>

<h4>WATER BOILING ALERT!</h4>

<p>You may boil your water as a precautionary measure.</p>

<h4>AH Municipal Harbor - CLOSED</h4>

<p>The Municipal Marina is CLOSED to all unauthorized individuals until further notice. The Harbor is being secured by the National Guard and anyone attempting to gain unauthorized access will be arrested. For information on your boats, please call the Harbor Office and you will be transferred. .</p>

<h4>EMERGENCY HELP INFORMATION - HURRICANE SANDY</h4>

<p>The County has established an Emergency Assistance location at the Holy Family Church [910 Route 36 - Hazlet]. Heated meals will be available there as well as water and clothing if needed. They will be open from 7:am - 7:00pm. You can also go there and charge cell phone and lap taps as well.
They are also seeking volunteers to help assistant with donations. Clothing donations are being accepted at Thompson Park and volunteers can report to 805 Newman Springs Road do not take donations to the Hazlet location.</p>

<p>Any Retired Law Enforcement Personell who would like to volunteer as security for these locations may report to Thompson Pak as well.</p>

<!--
<blockquote>
  <p><a href="http://ahnj.com/ahnj/">refernce</a></p>
</blockquote>
-->
