<p>The Borough of Belmar is collecting donations for Hurricane Sandy relief and recovery.
<a class="btn btn-success" type="button" href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=DaJJmqm_chOt7tsKzuEfeIRdA-eBHLJsqUi3AoxKYIfelmMU2vNpX9Rl_u0&dispatch=5885d80a13c0db1f8e263663d3faee8d0b7e678a25d883d0fa72c947f193f8fd">Donate Now!</a>
</p>

<p><strong><a href="http://belmar.com/">Click here for real time updates from Belmar.</a></strong></p>