<div class="post post-text">
                <h3><a href="http://njsandyresources.com/post/35152652925/mandatory-evacuation-for-parts-of-brick-township">Mandatory Evacuation for Parts of Brick Township</a></h3>
                <p>From the <a href="http://readynj.posterous.com/info-re-mandatory-evacuation-for-parts-of-bri" target="_blank">New Jersey State Emergency Operations Center</a>:</p>
<p>The Brick Township Office of Emergency Management is monitoring a Nor’ Easter that has the potential to strongly impact our town with high winds, storm surge and flooding. The Brick Township Office of Emergency Management has issued a Mandatory Evacuation for all residents that reside in the low lying waterfront areas of town that are prone to flooding and/or storm surge by Tuesday November 6, 2012 at 6:00 P.M.</p>
<p><span>These areas include but are not limited to;<br></span></p>
<ul><li>Midstreams neighborhood East of Jordan Rd.</li>
<li>Area of Island Dr. in Cedarcroft</li>
<li>North &amp; South Dr. (Metedeconk)</li>
<li>Princeton Ave. East of Beaver Dam Rd.</li>
<li>Cedarbridge Manor East of Lions Lane</li>
<li>Vanada Woods</li>
<li>Eagle Pass</li>
<li>Sandy Point</li>
<li>Tilton Rd</li>
<li>Cranberry Cove</li>
<li>Swan Point Park including Beaton and Gale Rd.</li>
<li>Baywood East of Pilot Dr. and Mandolay Dr.</li>
<li>Cherry Quay South of Tiller Lane</li>
<li>Sailors Quay off of Pleasant Dr., North Pier and South Sailors Quay</li>
<li>Waterfront Property in Mallard Point</li>
<li>Seaview Dr. &amp; Seaview Ave in Seaview Village</li>
<li>Shore Acres</li>
<li>Seawood Harbor</li>
<li>Waterfront Property in Bay Harbor</li>
</ul><p><span>Residents whose homes that do not fall into the Mandatory area that have been damaged and/or affected from Hurricane Sandy are strongly encouraged to evacuate. Residents are encouraged to seek shelter with friends and/or family who are in a safe location.<span>&nbsp;&nbsp;</span>For those residents that require transportation to a shelter, you can contact the call center at 732-262-1234.</span></p>

<!--
ref : http://njsandyresources.com/

-->


