<!--
    References
    http://helphighlandsnj.org/


-->


<h4>Highlands NJ</h4>

<p>Highlands, NJ is a small coastal town that was extremely hard-hit by the hurricane and is very grateful for the amazing outpouring of generosity of people all over the country.  Mayor Frank Nolan brought the town together Sunday to let everyone know what had been happening but the main message was hope and neighbors taking care of one another.</p>

<p>There were 90 water rescues conducted on Monday of the storm.  The great news is there were NO casualties and the town has already started the cleanup.  Frank Nolan, Mayor Highlands NJ
There are approximately 1500 residents in the downtown section of Highlands.  1200-1300 homes were severely damaged or destroyed.  500 have already been condemned.</p>

<h4>Highlands Volunteer Needs</h4>

<h5>Clean Storm Drains</h5>

<p>With the Nor’Easter on its way, we can prepare to prevent additional flooding by cleaning out the storm drains.  We are very fortunate the Rumson Boy Scout Troup 201 is on the case.</p>

<p>We need a point person to meet them to direct them on exactly what needs to be done.  Please let us know if you can help!  They will be leaving Rumson around 2 PM Tuesday, November 6 and need to know where to meet and what to do.</p>

<h5>Set up 501C</h5>

<p>There are several people and organizations who want to donate cash.  Would you be able to set up a 501C so we can accept the donations? Or point us in the right direction? We will be crediting all contributors on a blog we are setting up so might be nice opportunity for someone who wants to do something to help and get some publicity.</p>

<h5>Lodging for Out of State Volunteers</h5>

<p>There is a group in Needham, MA called Needham Cares.  They have sent groups of volunteers to Mississippi and New Orleans and are now getting calls from volunteers asking how they can help in NJ. They could send people down to help but they would need a place to stay. In Mississippi they stayed about 30 minutes away from the work site at a retreat house.</p>

<h4>Highlands Donation Needs</h4>

<p>Hello.  Thank you for volunteering or donating to help Highlands recover.  This site will be a focal point to assist coordinating donations and volunteers and matching to the community needs.  We will post here what is needed and the details.  Please deliver or ship all donations to:</p>

<blockquote>
Highlands Firehouse<br>
17-1 Shore Drive<br>
Highlands, NJ 07732<br>
Attn:  Rosemary Ryan<br>
</blockquote>

<h5>Here is the current need:</h5>
<p>Please see <a
href="http://www.signupgenius.com/go/10C044EA8A622A46-highlands">Highlands
Hurricane Donations<a> for status</a>
<ul>
<li>Metal Shovels &amp; Rakes (preparation for the pending Noreaster)</li>
<li>Rubbermaid Storage Bins</li>
<li>Label Maker</li>
<li>Sharpie Markers</li>
<li>XL, XXL, and XXXL Clothing of all types for men and women</li>
<li>Double air mattress</li>
<li>Hand warmers (glove inserts)</li>
<li>Cough medicine for adults
Thank you for your support.</li>
</ul>
