<h4>STORM RECOVERY EFFORTS</h4>

<p><code>Release Date: November 06, 2012</code></p>

<h5>Information on Donation and Volunteering Opportunities.</h5>

<p>The response to Sayreville's Storm relief efforts has been overwhelming and the Borough of Sayreville deeply appreciates the efforts of all who have banded together to donate their time and supplies to assist during this difficult time. </p>

<p>Anyone who wishes to contribute monetary donations to the relief efforts can do so making a check payable to Sayreville Storm Relief Fund, 167 Main Street, Sayreville, NJ 08872. We can also accept gift cards. </p>

<p>The Borough of Sayreville has established two facilities to accept donations. Please take donated items to the Gillette Complex located at 287 Cheesesquake Rd., Suites K &amp; L between the hours of 9AM and 5PM or OLV Monsignior Dalton Hall, 24 Main Street, Sayreville from Noon - 8PM. Due to the overwhelming generosity from the community, we can only accept the following needed items:</p>

<ul>
<li><p>NEW underwear (Boys, Girls, Womens, Mens)</p></li>
<li><p>Cat Litter</p></li>
<li><p>Cat Food</p></li>
<li><p>Grape Jelly</p></li>
<li>Peanut Butter</li>
<li>Parmalat Milk</li>
<li>Chef Boy R Dee Products</li>
<li>Instant Coffee</li>
<li><p>Non-Dairy Creamers</p></li>
<li><p>Colors wipes</p></li>
<li>Dish Detergent</li>
<li><p>Laundry Detergent</p></li>
<li><p>Baby Formula</p></li>
<li>Baby Food</li>
<li><p>Diapers</p></li>
<li><p>Cleaning Products</p></li>
<li><p>Yard Tools</p></li>
<li><p>Tables and Shelves for Clothing and Other Items</p></li>
<li>Racks for Hanging Clothing</li>
</ul>

<p>On Saturday, all operations will be moved to the Gillette Complex and we will begin accepting donations of furniture. </p>

<p>If you are interested in volunteering for our recovery efforts, please register by clicking here or calling Danielle Maiorana at <a href="tel:732-390-7026">732-390-7026</a>.</p>
