<p><strong>HelpJersey.com is supported and maintained by several Jersey guys who are concerned about their communities.</strong></p>

<ul class="thumbnails">
  <li class="span4">
  	<div class="thumbnail">
	    <a href="#" class="thumbnail">
	      <img src="/img/patrick.png" alt="Patrick">
	    </a>
	    <center><h4>Patrick Stokes</h4>Spring Lake</center>
	</div>
  </li>
  <li class="span4">
  	<div class="thumbnail">
	    <a href="#" class="thumbnail">
	      <img src="/img/dan.png" alt="Dan">
	    </a>
	     <center><h4>Dan Thurman</h4>Atlantic Highlands</center>
	</div>
  </li>
  <li class="span4">
  	<div class="thumbnail">
	    <a href="#" class="thumbnail">
	      <img src="/img/mf.png" alt="Mike Faherty">
	    </a>
	     <center><h4>Mike Faherty</h4>Spring Lake</center>
	</div>
  </li>
  <li class="span4">
  	<div class="thumbnail">
	    <a href="#" class="thumbnail">
	      <img src="/img/af.png" alt="Alex Faherty">
	    </a>
	     <center><h4>Alex Faherty</h4>Spring Lake</center>
	</div>
  </li>
</ul>
<hr/>

<p><strong>HelpJersey.com is supported by several local area brands and businesses.</strong></p>

<ul class="thumbnails">
  <li class="span4">
  	<div class="thumbnail">
	    <a href="#" class="thumbnail">
	      <img src="/img/fb.png" alt="Faherty Brand">
	    </a>
	    <center><h4><a href="http://fahertybrand.com">Faherty Brand</a></h4></center>
	</div>
  </li>
  <li class="span4">
  	<div class="thumbnail">
	    <a href="#" class="thumbnail">
	      <img src="/img/phj.png" alt="PHJ Architecture and Construction">
	    </a>
	     <center><h4><a href="http://www.phjac.com/">PHJ Architecture and Construction</a></h4></center>
	</div>
  </li>
</ul>
