<h1><%= title %></h1>
<p>In-demand food items include:</p>

<ul>
<li>breakfast bars</li>
<li>canned meals – macaroni &amp; cheese, ravioli, beef stew, spaghetti &amp; meatballs, etc.</li>
<li>canned items – soup, tuna, vegetables and fruits</li>
<li>boxed or bagged items – cereal, noodles, pasta, rice, crackers and stuffing</li>
<li>jarred items – jelly, peanut butter, pasta sauce</li>
<li>bottled items – juice and drinks</li>
<li>shelf-stable milk products</li>
<li>baby food and diapers</li>
</ul>
<p>Personal hygiene products and new clothing are also urgently needed by the shelters.</p>
<p>Preferred items include new adult and child-size sweat pants and sweat shirts, t-shirt, socks and underwear in unisex colors in all sizes.</p>
