<h1><%= title %></h1>

<hr/>
<p>
<a class="btn btn-success" type="button" href="https://www.redcross.org/donate/index.jsp?donateStep=2&itemId=prod10002">Donate to the Red Cross!</a>
</p>
<hr>
<h4>Edison PBA Collection</h4>
<p>This Saturday the 10th from 8-10am, the Edison PBA Local #75 will be collecting items that will be brought to the State PBA office to assist PBA members affected by the devastating aftermath of the storm. Items can be dropped off at the <a href="https://maps.google.com/maps?q=Edison+Municipal+Complex&ll=40.528691,-74.393642&spn=0.011139,0.020535&fb=1&gl=us&hq=Edison+Municipal+Complex&hnear=Edison+Municipal+Complex&cid=0,0,12343376950859641104&t=m&z=16">Edison Municipal Complex located at 100 Municipal Blvd . Edison, NJ</a></p>

<p>Items in need: non-perishable canned goods, boxed cereal, cookies, etc., toiletries, water, batteries, flashlights, kids clothing, socks, underwear, razors, shaving cream, blankets, and sweatsuits.</p>


<hr/>
<h4>To provide volunteer assistance in the cleanup and restoration effort:</h4>
<p>Call <a href="tel:1-800-537-7397">1-800-537-7397</a>. Backup numbers: <a href="tel:609-775-5236">609-775-5236</a> or&nbsp;<a href="tel:908-303-0471">908-303-0471</a>.</p>
<p>Volunteers may also send an email to&nbsp;<strong><a href="mailto:rowena.madden@sos.state.nj.us">rowena.madden@sos.state.nj.us</a></strong>. This service is managed by the NJ Business Action Center and the Governor’s Office of Volunteerism, both divisions within the NJ Department of State.</p>

<hr>
<h4>Donation items need by Sandy victims:</h4>
<p>In-demand food items include:</p>
<ul>
    <li>breakfast bars</li>
    <li>canned meals – macaroni &amp; cheese, ravioli, beef stew, spaghetti &amp; meatballs, etc.</li>
    <li>canned items – soup, tuna, vegetables and fruits</li>
    <li>boxed or bagged items – cereal, noodles, pasta, rice, crackers and stuffing</li>
    <li>jarred items – jelly, peanut butter, pasta sauce</li>
    <li>bottled items – juice and drinks</li>
    <li>shelf-stable milk products</li>
    <li>baby food and diapers</li>
</ul>
<p>Personal hygiene products and new clothing are also urgently needed by the shelters.</p>
<p>Preferred items include new adult and child-size sweat pants and sweat shirts, t-shirt, socks and underwear in unisex colors in all sizes.</p>

<hr>
<h4>Donation locations:</h4>
<dl>
<dt>Brick<dt>
<dd>Visitation Church, 755 Mantoloking Road, Brick. 8 a.m. to 7 p.m. also
weekend hours. <a href="tel:732-920-1365">732-920-1365</a>. No clothing donations. Requesting food,
toiletries, pillows and blankets.</dd>

<dt>Forked River in Lacey</dt>
<dd>Lacey United Methodist Church, 203 Lacey Road, Forked
River. Contact Pastor Linda Applegate, <a href="tel:609.693.5222">609.693.5222</a>.</dd>

<dt>Jackson</dt>
<dd>Jackson Crossings, 21 South Hope Chapel Road, ask for Vito Cardinale.</dd>

<dt>Lakewood</dt>
<dd>Calvary Lighthouse Church. House of Blessing, 1133 County Line Road,
Bldng A. 8 a.m. to 5 p.m. Monday-Sunday. <a href="tel:732-942-1541">732-942-1541</a>. Non-perishable food, and
clothing donations accepted.</dd>

<dt>Little Egg Harbor</dt>
<dd>Senior Center, 965 Radio Road, Little Egg Harbor. Call Lt.
Tom Williams, <a href="tel:609-256-3666">609-256-3666</a>.</dd>

<dt>Manahakwin in Stafford Township</dt>
<dd>Saint Mary's of the Pines Church, 100 Bishop
Lane, in Manahawkin.</dd>

<dt>Neptune</dt>
<dd>Foodbank of Monmouth and Ocean County, 3300 Route 66, Neptune. 8 a.m.
to 4 p.m. Monday-Friday. 7:30 a.m. to 3 p.m. today and Sunday, this weekend
only. <a href="tel:732-918-2600">732-918-2600</a>.</dd>

<dt>South Toms River</dt>
<dd>South Toms River Boro Buidling, 144 Mill Street in South Toms
River. Call <a href="tel:732-349-6144">732-349-6144</a>.</dd>

<dt>Toms River</dt>
<dd>Grace & Peace Church, 1583 Old Freehold Road, Toms River. Call
<a href="tel:732-349-1550">732-349-1550</a>.</dd>

<dt>Keyport Central School Shelter</dt>
<dd>They need lactose-free milk, canned fruit, adult diapers, D batteries,
men’s and women’s underwear (priority), small flashlights, puzzlebooks and
games.<br> 335 Broad St., Keyport, NJ 07735</dd>

<dt>Island Heights Volunteer Fire Company #1</dt>
<dd>Dry pasta, cereal, oatmeal, lunch meats, bread/rolls, gatorade powder mix,
protein bars, cereal bars, small bottles of OJ, small bottles of Gatorade,
bottled water<br> 15 Lake Avenue, PO Box 316, Island Heights, NJ 08732</dd>

 <dt>Toms River East High School</dt>
 <dd>Shoes, socks, small flashlights, tampons, pads, baby food, baby formula,
 bottles, batteries, band aids, Advil, Tylenol, large<br> cardboard boxes,
 packing tape<br> 1225 Raider Way, Toms River, NJ</dd>

 <dt>Southern Regional High School in Manahawkin<dt>
 <dd>Bendable straws, stirrers, decaf coffee, decaf tea, herbal tea, clean
 underwear, compression socks for the elderly, clothing infants thru adult,
 blankets, pillows and any food or drinks (no homemade food), playing cards,
 coloring books and crayons, crossword puzzles.<br> 90 Cedar Bridge Road
 Manahawkin, NJ 08050</dd>

</dl>

<p>Here is a up to the minute <a
href="https://docs.google.com/spreadsheet/lv?key=0AtFioqdqdsrfdHlJaDdZN01tZTVDMFQ3TWZDajRlb1E">list of drop off donation points</a>. These are being served by the Red Cross and grass roots efforts by NJ municipalities.</p>


<hr>
<h4>Share information about volunteer efforts</h4>
