<h1><%= title %></h1>
<p><strong>To provide volunteer assistance in the cleanup and restoration effort:</strong></p>
<p>Call <a href="tel:1-800-537-7397">1-800-537-7397</a>. Backup numbers: <a href="tel:609-775-5236">609-775-5236</a> or&nbsp;<a href="tel:908-303-0471">908-303-0471</a>.</p>
<p>Volunteers may also send an email to&nbsp;<strong><a href="mailto:rowena.madden@sos.state.nj.us">rowena.madden@sos.state.nj.us</a></strong>. This service is managed by the NJ Business Action Center and the Governor’s Office of Volunteerism, both divisions within the NJ Department of State.</p>

<p>In-demand food items include:</p>

<ul>
<li>breakfast bars</li>
<li>canned meals – macaroni &amp; cheese, ravioli, beef stew, spaghetti &amp; meatballs, etc.</li>
<li>canned items – soup, tuna, vegetables and fruits</li>
<li>boxed or bagged items – cereal, noodles, pasta, rice, crackers and stuffing</li>
<li>jarred items – jelly, peanut butter, pasta sauce</li>
<li>bottled items – juice and drinks</li>
<li>shelf-stable milk products</li>
<li>baby food and diapers</li>
</ul>
<p>Personal hygiene products and new clothing are also urgently needed by the shelters.</p>
<p>Preferred items include new adult and child-size sweat pants and sweat shirts, t-shirt, socks and underwear in unisex colors in all sizes.</p>

<hr>
<ul> 
 <li><strong>Keyport Central School Shelter</strong><br> They need lactose-free milk, canned fruit, adult diapers, D batteries, men’s and women’s underwear (priority), small flashlights, puzzlebooks and games.<br> 335 Broad St., Keyport, NJ 07735</li> 
 <li><strong>Island Heights Volunteer Fire Company #1</strong><br> Dry pasta, cereal, oatmeal, lunch meats, bread/rolls, gatorade powder mix, protein bars, cereal bars, small bottles of OJ, small bottles of Gatorade, bottled water<br> 15 Lake Avenue, PO Box 316, Island Heights, NJ 08732</li> 
 <li><strong>Toms River East High School</strong><br> Shoes, socks, small flashlights, tampons, pads, baby food, baby formula, bottles, batteries, band aids, Advil, Tylenol, large<br> cardboard boxes, packing tape<br> 1225 Raider Way, Toms River, NJ</li> 
 <li><strong>Southern Regional High School</strong> in Manahawkin<br> Bendable straws, stirrers, decaf coffee, decaf tea, herbal tea, clean underwear, compression socks for the elderly, clothing infants thru adult, blankets, pillows and any food or drinks (no homemade food), playing cards, coloring books and crayons, crossword puzzles.<br> 90 Cedar Bridge Road Manahawkin, NJ 08050</li> 
</ul>


<hr>
<h4>Share information about volunteer efforts</h4>
