
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit" style="background-image: url(/img/slide-0<%= header %>.jpg); height: 300px; padding: 20px; text-align: center;">
		<img src="/img/logo.png" alt="Help Jersey"/>
		<p>&nbsp;</p>
		<p><a class="btn btn-primary btn-large" href="/need">Get Help &raquo;</a> <a class="btn btn-primary btn-large" href="/give">Give Help &raquo;</a></p>
</div>

<div class="hero-unit-mobile">
	<p><a class="btn btn-primary btn-large" href="/need">Get Help</a></p>
	<p><a class="btn btn-info btn-large" href="/give">Give Help</a></p>
</div>
<hr/>
<div class="fb-like-box" data-href="http://www.facebook.com/helpjersey" data-width="300" data-height="190" data-show-faces="false" data-stream="false" data-header="false"></div>