<style>
.btnPair {margin-top:10px;margin-bottom:10px;} 
.btnPair a.need {float:left;width:40%;}
.btnPair a.give {float:right;width:40%;}
</style>


<div class="btnPair container">
        <a class="need btn btn-primary" href="/need">Need Help</a>
        <a class="give btn btn-info" href="/give">Give Help</a>
</div>
<p>This site is being built by locals from the Jersey Shore. It's first focus is to provide information to those who <a href="/need">need help</a>. It is optimizied for mobile devices because that's how we're currently connected to the web right now. It's second focus is to provide information to those who would like to <a href="/give">give help</a>. </p>
