
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit" style="background-image: url(/img/slide-0<%= header %>.jpg);">
	<div class="hero-unit-container">
		<h1>Help New Jersey!</h1>
		<p>This site is being built by locals from the Jersey Shore. It's first focus is to provide information to those who <a href="/need">need help</a>. It is optimizied for mobile devices because that's how we're currently connected to the web right now. It's second focus is to provide information to those who would like to <a href="/give">give help</a>. </p>
		<p><a class="btn btn-primary btn-large" href="/need">Get Help &raquo;</a></p>
	</div>
</div>

<div class="hero-unit-mobile">
	<p><a class="btn btn-primary btn-large" href="/need">Get Help</a></p>
	<p><a class="btn btn-info btn-large" href="/give">Give Help</a></p>
</div>
