
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="fb-like" data-href="http://helpjersey.com" data-send="false" data-width="450" data-show-faces="true"></div>
<div class="hero-unit" style="background-image: url(/img/slide-0<%= header %>.jpg); height: 300px; padding: 20px;">
	<div class="hero-unit-container">
		<img src="/img/logo.png" alt="Help Jersey"/>
		<p>&nbsp;</p>
		<p><a class="btn btn-primary btn-large" href="/need">Get Help &raquo;</a> <a class="btn btn-primary btn-large" href="/give">Give Help &raquo;</a></p>
	</div>
</div>

<div class="hero-unit-mobile">
	<p><a class="btn btn-primary btn-large" href="/need">Get Help</a></p>
	<p><a class="btn btn-info btn-large" href="/give">Give Help</a></p>
</div>
<hr/>
