<!--
<div class="searchWrapper container">
    <input class='search' type="text" placeholder="search for your town" >
</div>
-->

<form class="form-search">
  <div class="input-append">
    <input type="text" class="span2 search-query search">
    <button type="submit" class="btn">Find My Town</button>
  </div>
</form>

<hr/>

<h3>State and Federal Resources</h3>
<ol>
    <li><a href="#1">For urgent health and safety issues</a></li>
    <li><a href="#2">To find a local shelter</a></li>
    <li><a href="#3">To file a claim with FEMA</a></li>
    <li><a href="#4">To find an open grocery store</a></li>
    <li><a href="#5">To find an open gas station</a></li>
    <li><a href="#6">To find an open pharmacy</a></li>
    <li><a href="#7">To report a downed electrical line</a></li>
    <li><a href="#8">To report a gas leak</a></li>
    <li><a href="#9">To get road and driving conditions</a></li>
    <li><a href="#10">To file an insurance claim if you don't know your company or agent's number</a></li>
    <li><a href="#11">To report complaints about insurance companies</a></li>
    <li><a href="#12">To report complaints about electric or gas utilities</a></li>
    <li><a href="#13">To report consumer fraud or price gouging</a></li>
    <li><a href="#14">To request volunteer assistance</a></li>
    <li><a href="#15">To request an extension of motor vehicle document deadlines</a></li>
    <li><a href="#16">Additional state and federal resources</a></li>
    <li><a href="#17">Maps dedicated to Sandy relief efforts</a></li>
    <li><a href="#18">Information about where to vote</a></li>
</ol>

<!--
<a name="5"></a>
<p><strong></strong></p>
<p></p>
<hr/>
-->

<hr/>

<a name="1"></a>
<p><strong>For urgent health and safety issues: Call ’911′</strong></p>
<p>For non-immediate health matters or other assistance call 211 or go online at&nbsp;<strong><a href="http://www.nj211.org">www.nj211.org</a></strong>&nbsp;for help with non-emergency issues, including basic human needs, support for seniors or persons with disabilities, children, or mental health issues.</p>
<hr/>

<a name="2"></a>
<p><strong>To find a local shelter:</strong></p>
<p><a href="http://www.redcross.org/find-help/shelter" target="" class="arrow">Browse the Redcross shelter map.</a></p>
<hr/>

<a name="3"></a>
<p><strong>To file a claim with FEMA:</strong></p>
<p>Call <a href="tel:800-621-3362">800-621-3362</a>. Make sure you register with FEMA. For a printable form,&nbsp;<strong><a href="http://www.ready.nj.gov/plan/pdf/091211_dr4021_application.PDF">click here</a></strong>.</p>
<p>Information on&nbsp;<strong><a href="http://www.fema.gov/news-release/federal-aid-programs-state-new-jersey-disaster-recovery-2">Federal Aid Programs for State of New Jersey Disaster Recovery</a></strong></p>
<hr/>

<a name="4"></a>
<p><strong>To find an open grocery store:</strong></p>
<p>nj211.org has provided a list of open grocery stores. <a href="http://nj211.org/images/HurricaneSandy/NJOpenFoodStores.pdf">View that list here.</a></p>
<hr/>

<a name="5"></a>
<p><strong>To find an open gas station:</strong></p>
<p>New Jersey residents are using <a href="https://twitter.com/search?q=%23njgas">hashtag <strong>#njgas</strong></a> to report real-time gas station updates.</p>
<p><a href="http://google.org/crisismap/2012-sandy">The Google Crisis Map : Sandy</a> shows gas stations with gas available</p>
<p><a href="http://www.gasbuddy.com/Gas_Prices/New_Jersey/index.aspx">Gas Buddy
NJ</a></p>
<p><a href="http://hessexpress.com/FuelInformation">Hess Station gas inventory</a></p>
<p><a href="http://www.wawa.com/WawaWeb/StoreLocator.aspx">Wawa Store Locator
with gas price and inventory</a></p>
<hr/>

<a name="6"></a>
<p><strong>To find an open pharmacy:</strong></p>
<p>RxResponse has a map of open pharmacies. <a href="http://www.rxresponse.org/PharmacyStatus/Pages/ActivePharmacyReporting.aspx">View that map here.</a></p>
<hr/>

<a name="7"></a>
<p><strong>To report a downed electrical line:</strong></p>
<p>Contact your local energy provider (info below). Be prepared to give the nearest cross street or the number of a nearby pole that has not been damaged and is away from any downed wires; the pole number can be found on the metal tag attached to the pole.</p>
<p>PSE&amp;G: <a href="tel:800-436-7734">800-436-7734</a><br>
Jersey Central Power &amp; Light (JCP&amp;L): <a href="tel:800-662-3115">800-662-3115</a><br>
Atlantic City Electric: <a href="tel:800-642-3780">800-642-3780</a><br>
Orange Rockland Electric: <a href="tel:1-877-434-4100">1-877-434-4100</a></p>
<hr/>

<a name="8"></a>
<p><strong>To report a gas leak:</strong></p>
<p>New Jersey Natural Gas: <a href="tel:800-427-5325">800-427-5325</a><br>
PSE&amp;G: <a href="tel:800-436-7734">800-436-7734</a></p>
<hr/>

<a name="9"></a>
<p><strong>To get road and driving conditions:</strong></p>
<p><strong><a href="http://511nj.org/">http://511nj.org/</a></strong></p>
<hr/>

<a name="10"></a>
<p><strong>To file an insurance claim if you don't know your company or agent's number:</strong></p>
<p>Call the NJ Department of Banking and Insurance at <a href="tel:1-800-446-7467">1-800-446-7467</a> or go to&nbsp;<strong><a href="http://www.dobi.nj.gov">www.dobi.nj.gov</a></strong>.</p>
<hr/>

<a name="11"></a>
<p><strong>To report complaints about insurance companies:</strong></p>
<p>Call the NJ Department of Banking and Insurance at <a href="tel:1-800-446-7467">1-800-446-7467</a>,&nbsp;<strong><a href="https://www16.state.nj.us/DOBI_UIC/servlet/Servlet.idxServlet?div='INS'">click here to file a complaint online</a></strong>.</p>
<p>A printable complaint form is here:&nbsp;<strong><a href="http://www.state.nj.us/dobi/complain.pdf">http://www.state.nj.us/dobi/complain.pdf</a></strong></p>
<hr/>

<a name="12"></a>
<p><strong>To report complaints about electric or gas utilities:</strong></p>
<p>Call the NJ Board of Public Utilities: <a href="tel:800-624-0241">(800) 624-0241</a> or (609) 341-9188.</p>
<hr/>

<a name="13"></a>
<p><strong>To report consumer fraud or price gouging:</strong></p>
<p>State law makes excessive price increases illegal during a state of emergency, and for 30 days following the end of the emergency. Call the NJ Division of Consumer Affairs at 862-209-0130 or 973-220-3474.</p>
<hr/>

<a name="14"></a>
<p><strong>To request volunteer assistance:</strong></p>
<p><strong></strong>Call ’211′ or go online at&nbsp;<strong><a href="http://www.nj211.org">www.nj211.org</a></strong>.</p>
<hr/>

<a name="15"></a>
<p><strong>To request an extension of motor vehicle document deadlines:</strong></p>
<p>To ease the burden on customers who did not have a chance to visit a motor vehicle office in October, MVC Chairman and Chief Administrator Raymond P. Martinez has issued&nbsp;<strong><a href="http://www.state.nj.us/mvc/pdf/About/Admin_Order_2012_03.pdf">Administrative Order 2012-03</a></strong>&nbsp;authorizing a 30-day extension for all driver’s licenses, vehicle registrations and vehicle inspection stickers that expired on October 31.</p>
<hr/>

<a name="16"></a>
<p><strong>Additional State Aid Resources:</strong></p>
<p><strong><a href="http://www.nj.gov/health/er/natural.shtml">Department of Health and Senior Services</a></strong></p>
<p><strong><a href="http://nj.gov/health/lh/documents/lhdirectory.pdf">New Jersey Department of Health – Directory of Local Health Departments in New Jersey</a></strong></p>
<p><strong><a href="http://www.nj.gov/dep/special/hurricane-sandy/">NJ DEP’s Hurricane Sandy Page</a></strong>&nbsp;- precautionary wastewater measures, how municipalities can apply for emergency land use permits, when to boil their water, and much more.</p>
<p>Contact information for your local <a href="http://www.state.nj.us/njoem/about/association.html">NJ Office of Emergency Management</a></p>
<hr/>

<a name="17"></a>
<p><strong>Maps dedicated to Sandy relief:</strong></p>
<p><strong><a href="http://google.org/crisismap/2012-sandy">Google Crisis Map</a></strong></p>
<p><strong><a href="http://www.govtrack.us/congress/members">GovTrack, Find a senator or representative</a></strong></p>
<hr>

<a name="18"></a>
<p><strong>Information about where to vote:</strong></p>
<p>The New Jersey Department of State issued a number of directives regarding voters displaced by Hurricane Sandy</p>
<p><a href="http://nj.gov/state/elections/2012-results/directive-email-voting.pdf">Directive Regarding Email Voting and Mail-in Ballots for Displaced Voters</a></p>
<p><a href="http://nj.gov/state/elections/2012-results/directive-displaced-voters.pdf">Directive Expanding Ability of Displaced Voters to Vote</a></p>
<p><a href="http://nj.gov/state/elections/2012-results/directive-notice-communication.pdf">Directive Regarding Notice and Communication</a></p>
<hr>

<strong>Share information about state and federal resources</strong>

<script>
function need(){

$.ajax({
    url: "/api/allTowns",
    success: function (data) {
        $('.search')
            .typeahead({source: _.pluck(data, 'name')})
            .change(function(){
                var town = $(this).val();
                location.href = '/info/' + town;
            });
    }
});
}

</script>
