<h4>Find Info on</h4>
<div>
    <input class='search' type="text" >
</div>
<hr/>
<p><strong>For urgent health and safety issues: Call ’911′</strong></p>
<p>For non-immediate health matters or other assistance call 211 or go online at&nbsp;<strong><a href="http://www.nj211.org">www.nj211.org</a></strong>&nbsp;for help with non-emergency issues, including basic human needs, support for seniors or persons with disabilities, children, or mental health issues.</p>

<p>Find an Open <a href="http://www.redcross.org/find-help/shelter" target="" class="arrow">Shelter</a></p>
<p><strong>To file a claim with FEMA:</strong></p>
<p>Call <a href="tel:800-621-3362">800-621-3362</a>. Make sure you register with FEMA. For a printable form,&nbsp;<strong><a href="http://www.ready.nj.gov/plan/pdf/091211_dr4021_application.PDF">click here</a></strong>.</p>
<p>Information on&nbsp;<strong><a href="http://www.fema.gov/news-release/federal-aid-programs-state-new-jersey-disaster-recovery-2">Federal Aid Programs for State of New Jersey Disaster Recovery</a></strong></p>
<p><strong>To report a downed electrical line:</strong></p>
<p>Contact your local energy provider (info below). Be prepared to give the nearest cross street or the number of a nearby pole that has not been damaged and is away from any downed wires; the pole number can be found on the metal tag attached to the pole.</p>
<p>PSE&amp;G: <a href="tel:800-436-7734">800-436-7734</a><br>
Jersey Central Power &amp; Light (JCP&amp;L): <a href="tel:800-662-3115">800-662-3115</a><br>
Atlantic City Electric: <a href="tel:800-642-3780">800-642-3780</a><br>
Orange Rockland Electric: <a href="tel:1-877-434-4100">1-877-434-4100</a></p>
<p><strong>To report a gas leak, contact your local gas provider:</strong></p>
<p>New Jersey Natural Gas: <a href="tel:800-427-5325">800-427-5325</a><br>
PSE&amp;G: <a href="tel:800-436-7734">800-436-7734</a></p>
<p><strong>Road and Driving Conditions:</strong></p>
<p><strong><a href="http://511nj.org/">http://511nj.org/</a></strong></p>
<p><strong>To file an insurance claim, if you can’t find the company or agent’s number:</strong></p>
<p>Call the NJ Department of Banking and Insurance at <a href="tel:1-800-446-7467">1-800-446-7467</a> or go to&nbsp;<strong><a href="http://www.dobi.nj.gov">www.dobi.nj.gov</a></strong>.</p>
<p><strong>To report complaints about insurance companies:</strong></p>
<p>Call the NJ Department of Banking and Insurance at <a href="tel:1-800-446-7467">1-800-446-7467</a>,&nbsp;<strong><a href="https://www16.state.nj.us/DOBI_UIC/servlet/Servlet.idxServlet?div='INS'">click here to file a complaint online</a></strong>.</p>
<p>A printable complaint form is here:&nbsp;<strong><a href="http://www.state.nj.us/dobi/complain.pdf">http://www.state.nj.us/dobi/complain.pdf</a></strong></p>
<p><strong>To report complaints about electric or gas utilities:</strong></p>
<p>Call the NJ Board of Public Utilities: <a href="tel:800-624-0241">(800) 624-0241</a> or (609) 341-9188.</p>
<p><strong>To report possible consumer fraud or price gouging by contractors or others:</strong></p>
<p>State law makes excessive price increases illegal during a state of emergency, and for 30 days following the end of the emergency. Call the NJ Division of Consumer Affairs at 862-209-0130 or 973-220-3474.</p>
<p><strong>To request volunteer assistance:</strong></p>
<p><strong></strong>Call ’211′ or go online at&nbsp;<strong><a href="http://www.nj211.org">www.nj211.org</a></strong>.</p>
<p><strong>Extension of motor vehicle document deadlines:</strong></p>
<p>To ease the burden on customers who did not have a chance to visit a motor vehicle office in October, MVC Chairman and Chief Administrator Raymond P. Martinez has issued&nbsp;<strong><a href="http://www.state.nj.us/mvc/pdf/About/Admin_Order_2012_03.pdf">Administrative Order 2012-03</a></strong>&nbsp;authorizing a 30-day extension for all driver’s licenses, vehicle registrations and vehicle inspection stickers that expired on October 31.</p>
<p><strong>State Aid:</strong></p>
<p><strong><a href="http://www.nj.gov/health/er/natural.shtml">Department of Health and Senior Services</a></strong></p>
<p><strong><a href="http://nj.gov/health/lh/documents/lhdirectory.pdf">New Jersey Department of Health – Directory of Local Health Departments in New Jersey</a></strong></p>
<p><strong><a href="http://www.nj.gov/dep/special/hurricane-sandy/">NJ DEP’s Hurricane Sandy Page</a></strong>&nbsp;- precautionary wastewater measures, how municipalities can apply for emergency land use permits, when to boil their water, and much more.</p>





<p>Contact information for your local <a href="http://www.state.nj.us/njoem/about/association.html">NJ Office of Emergency Management</a></p>



<p>Use this map to identify your congressional district</p>
<iframe width="425" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
src="http://www.govtrack.us/congress/members/embed/mapframe?state=nj&bounds=-75.062,40.818,-73.346,39.729"></iframe>












<script>
function need(){
$.ajax({
    url: "/api/allTowns",
    success: function (data) {
        $('.search')
            .typeahead({source: _.pluck(data, 'name')})
            .change(function(){
                var town = $(this).val();
                location.href = '/info#!' + town;
            });
    }
});
}
</script>
