
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 60px;
  padding-bottom: 40px;
  color: #5a5a5a;
}


.hero-unit-container {
  background: rgba(54, 25, 25, .5); 
  color: #fff; 
  padding: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

@media screen and (max-width: 640px) {
  .hero-unit { display: none; }
  .hero-unit-mobile {text-align: center;}
  .hero-unit-mobile a {
    width: 50%;
    margin-top: 2em;
  }
  ul.typeahead a {
    height: 2.5em;
    line-height: 2.5em;
  }
}

@media screen and (min-width: 640px) {
  .hero-unit-mobile { display: none; }
}
