
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 60px;
  padding-bottom: 40px;
  color: #5a5a5a;
}


.hero-unit-container {
  background: rgba(54, 25, 25, .5); 
  color: #fff; 
  padding: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
